footer.footer.pb-6
    .container
        .level
            .level-left
                .level-item
                    img(src='/static/logo/movies-logo.jpg' width='112' height='28')
            .level-right
                .level-item
                    span.icon.is-large
                        a(href="https://twitter.com/manumac86").has-text-white
                            i.fab.fa-twitter.fa-2x.has-text-white
                    span.icon.is-large
                        a(href="https://facebook.com/manumartinez86").has-text-white
                            i.fab.fa-facebook.fa-2x.has-text-white
                    span.icon.is-large
                        a(href="https://instagram.com/manumartinezbass").has-text-white
                            i.fab.fa-instagram.fa-2x.has-text-white
                    span.icon.is-large
                        a(href="https://api.whatsapp.com/send?phone=543513550047").has-text-white
                            i.fab.fa-whatsapp.fa-2x.has-text-white
        .divider.has-text-white(style='border-top:1px solid currentColor;padding-top:10px;')
        .level
            .level-left
                .level-item.has-text-white
                    small Find and rate your favourites movies
            .level-left
                .level-item.has-text-white
                    small= `Star Movies ${new Date().getFullYear()} | All rights reserved`        